h1 Bienvenido, #{@current_user.name}
p = link_to "Salir", logout_user_path(@current_user), method: :post, data: { confirm: "Estas seguro de que deseas salir?" }


h2 Elige una sala

h3 = link_to "Nueva sala", new_room_path
div.rooms
  = render @rooms
